openapi: 3.1.0
info:
  title: Soldo Business API v2.0 Accounting Classification Transaction Custom Export API
  description: Soldo Business API v2.0 OpenAPI specification
  version: 5.56.0
servers:
- url: https://api.soldo.com
  description: Production server (using live data)
- url: https://api-demo.soldocloud.net
  description: Sandbox server (using test data)
tags:
- name: Transaction Custom Export
paths:
  /business/v2/transactions/custom-exports/bulk-add:
    post:
      tags:
      - Transaction Custom Export
      summary: Add Bulk TransactionCustomExport
      description: Endpoint bulk to add a new `TransactionCustomExport`.
      operationId: transaction-export-add
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateTransactionCustomExport'
      responses:
        '200':
          description: The result is an array containing `TransactionCustomExport`.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ExportedCustomTransaction'
        '404':
          description: One or more resource requested does not exist.
      security:
      - standardAuth:
        - transaction_write
  /business/v2/transactions/custom-exports/bulk-remove:
    delete:
      tags:
      - Transaction Custom Export
      summary: ' Remove Bulk TransactionCustomExport'
      description: Endpoint bulk to remove a list of `TransactionCustomExport` by TransactionIds.
      operationId: transaction-export-remove
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/RemoveTransactionCustomExport'
      responses:
        '200':
          description: The result is an array containing `TransactionCustomExport`.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RemoveTransactionCustomExportBulk'
        '404':
          description: One or more resource requested does not exist.
      security:
      - standardAuth:
        - transaction_write
  /business/v2/transactions/custom-exports/bulk-retrieve:
    post:
      tags:
      - Transaction Custom Export
      summary: ' Retrieve Bulk TransactionCustomExport'
      description: Endpoint retrieve a list of `TransactionCustomExport` by TransactionIds.
      operationId: transaction-export-get
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/TransactionCustomExportBulk'
      responses:
        '200':
          description: The result is an array containing `TransactionCustomExport`.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RetrieveCustomExportTransaction'
        '404':
          description: One or more resource requested does not exist.
      security:
      - standardAuth:
        - transaction_read
  /business/v2/transactions/custom-exports/search:
    get:
      tags:
      - Transaction Custom Export
      summary: Search TransactionCustomExport
      description: Endpoint to get the list of a `TransactionCustomExport`.
      operationId: transaction-export-search
      parameters:
      - name: fromDate
        in: query
        description: 'The beginning of the period of the search `fromDate` included (i.e. greater than or equal to) (Formats: `yyyy-MM-dd`, `yyyy-MM-ddThh:mm:ss`, `yyyy-MM-ddThh:mm:ssZ`).'
        schema:
          $ref: '#/components/schemas/DateParam'
        example: '2020-04-06T12:48:40Z'
      - name: toDate
        in: query
        description: 'The end of the period of the search `toDate` included (i.e. less than) (Formats: `yyyy-MM-dd`, `yyyy-MM-ddThh:mm:ss`, `yyyy-MM-ddThh:mm:ssZ`).'
        schema:
          $ref: '#/components/schemas/DateParam'
        example: '2020-05-07T12:48:40Z'
      - name: product
        in: query
        description: A product that exported list of `Transaction`
        schema:
          type: string
          description: A product that exported list of `Transaction`
        example: SAP
      - name: p
        in: query
        description: It indicates the specific page to display (the counter starts from zero).
        schema:
          type: integer
          format: int32
          default: 0
          description: It indicates the specific page to display (the counter starts from zero).
          example: 3
        example: 3
      - name: s
        in: query
        description: It indicates the number of items per page.
        schema:
          type: integer
          format: int32
          default: 0
          description: It indicates the number of items per page.
          example: 25
          maximum: 50
        example: 25
      - name: d
        in: query
        description: It indicates how the pages are ordered.
        schema:
          $ref: '#/components/schemas/Direction'
        example: DESC
      - name: props
        in: query
        description: It indicates the sorting direction applied to the above parameters. To apply a sorting on multiple parameters, set as many times the `props` parameter in the request.
        schema:
          type: array
          description: It indicates the sorting direction applied to the above parameters. To apply a sorting on multiple parameters, set as many times the `props` parameter in the request.
          example: creationTime
          items:
            type: string
            description: It indicates the sorting direction applied to the above parameters. To apply a sorting on multiple parameters, set as many times the `props` parameter in the request.
            example: creationTime
        example: creationTime
      responses:
        '200':
          description: The result is an array containing `TransactionCustomExport`.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TransactionCustomExports'
        '404':
          description: One or more resource requested does not exist.
      security:
      - standardAuth:
        - transaction_read
components:
  schemas:
    TransactionCustomExported:
      properties:
        id:
          type: string
          description: The `TransactionCustomExport` ID
          example: 7bf79328-a7ae-4222-aa54-091ff7f429a7
        transaction_id:
          type: string
          description: The `Transaction` ID.
          example: 7bf79328-a7ae-4222-aa54-091ff7f429a7
        product:
          type: string
          description: A product that exported list of `Transaction`
          example: SAP
        export_timestamp:
          type: string
          description: The date and time when the `Transaction` was exported.
          example: '2017-06-01T12:48:40Z'
        status:
          $ref: '#/components/schemas/CustomExportTransactionStatus'
          description: The result of the `TransactionCustomExport` of `Transaction`
          example: SUCCESS
    TransactionCustomExport:
      properties:
        id:
          type: string
          description: The `TransactionCustomExport` ID
          example: 7bf79328-a7ae-4222-aa54-091ff7f429a7
        transaction_id:
          type: string
          description: 'The `Transaction` ID (sortable: yes).'
          example: 7bf79328-a7ae-4222-aa54-091ff7f429a7
        product:
          type: string
          description: A product that exported list of `Transaction`
          example: SAP
        export_timestamp:
          type: string
          description: The date and time when the `Transaction` was exported.
          example: '2017-06-01T12:48:40Z'
    TransactionCustomExportBulk:
      description: Get `TransactionCustomExport` JSON parameters.
      properties:
        transaction_ids:
          type: array
          description: The list of `Transaction` ID, max item 1000
          example:
          - 7bf79328-a7ae-4222-aa54-091ff7f429a7
          - 2d65bd5e-3fdf-4002-b166-bde7fb8863fa
          items:
            type: string
      required:
      - transaction_ids
    CustomExportTransactionStatus:
      type: string
      enum:
      - SUCCESS
      - FAILED
    DateParam:
      description: 'The end of the period of the search `toDate` included (i.e. less than) (Formats: `yyyy-MM-dd`, `yyyy-MM-ddThh:mm:ss`, `yyyy-MM-ddThh:mm:ssZ`).'
      example: '1970-01-30'
    RemoveTransactionCustomExportBulk:
      properties:
        result:
          type: array
          items:
            $ref: '#/components/schemas/TransactionCustomExportRemove'
    Direction:
      type: string
      description: It indicates how the pages are ordered.
      enum:
      - ASC
      - DESC
      example: DESC
    TransactionCustomExports:
      properties:
        total:
          type: integer
          format: int32
          description: It represents the total number of available items in the list.
          example: 168
        pages:
          type: integer
          format: int32
          description: It represents the total number of available pages.
          example: 7
        page_size:
          type: integer
          format: int32
          description: It represents the number of items per page.
          example: 25
        current_page:
          type: integer
          format: int32
          description: It indicates the current page (the counter starts from zero).
          example: 0
        results_size:
          type: integer
          format: int32
          description: It indicates the size of the array results.
          example: 25
        results:
          type: array
          items:
            $ref: '#/components/schemas/TransactionCustomExport'
    CreateTransactionCustomExport:
      description: Add `TransactionCustomExport` JSON parameters.
      properties:
        transaction_ids:
          type: array
          description: A list of `Transaction` Ids
          example:
          - 4bf79328-a7ae-4222-aa54-091ff7f429a7
          items:
            type: string
        product:
          type: string
          description: A product that exported list of `Transaction`
          example: SAP
      required:
      - product
      - transaction_ids
    RetrieveCustomExportTransaction:
      properties:
        result:
          type: array
          items:
            $ref: '#/components/schemas/TransactionCustomExportRetrieve'
    TransactionCustomExportRemove:
      properties:
        id:
          type: string
          description: The `TransactionCustomExport` ID
          example: 7bf79328-a7ae-4222-aa54-091ff7f429a7
        transaction_id:
          type: string
          description: The `Transaction` ID
          example: 7bf79328-a7ae-4222-aa54-091ff7f429a7
        status:
          $ref: '#/components/schemas/CustomExportTransactionStatus'
          description: The result of the `TransactionCustomExport` of `Transaction`
          example: SUCCESS
    TransactionCustomExportRetrieve:
      properties:
        id:
          type: string
          description: The `TransactionCustomExport` ID
          example: 7bf79328-a7ae-4222-aa54-091ff7f429a7
        transaction_id:
          type: string
          description: The `Transaction` ID
          example: 7bf79328-a7ae-4222-aa54-091ff7f429a7
        product:
          type: string
          description: A product that exported list of `Transaction`
          example: SAP
        export_timestamp:
          type: string
          description: The date and time when the `Transaction` was exported.
          example: '2017-06-01T12:48:40Z'
    ExportedCustomTransaction:
      properties:
        exported_transactions:
          type: array
          items:
            $ref: '#/components/schemas/TransactionCustomExported'
    RemoveTransactionCustomExport:
      description: Remove `TransactionCustomExport` JSON parameters.
      properties:
        ids:
          type: array
          description: A list of `TransactionCustomExport`Ids
          example:
          - 8uf79328-a7ae-4222-aa54-091ff7f429a7
          items:
            type: string
      required:
      - ids
  securitySchemes:
    standardAuth:
      type: oauth2
      description: This API uses OAuth 2 with the "Client Credentials" grant flow.
      flows:
        clientCredentials:
          tokenUrl: https://api.soldo.com/oauth/authorize
          refreshUrl: https://api.soldo.com/oauth/refresh
          scopes:
            address_read: Can read address details.
            address_write: Can update address details.
            card_read: Can read card details.
            card_write: Can change card details.
            company_read: Can read company details.
            company_write: Can change company details.
            contact_read: Can read contact details.
            contact_write: Can change contact details.
            employee_read: Can read employee details.
            employee_write: Can change employee details.
            expense_category_read: Can read expense category details.
            expense_category_write: Can change expense category details.
            expense_report_read: Can read expense report details.
            expense_report_write: Can change expense report details.
            expense_review_read: Can read expense review status.
            expense_review_write: Can change expense review status.
            group_read: Can read group details.
            group_write: Can change groups details.
            online_ads_read: Can read online ads details.
            online_ads_write: Can change online ads details.
            payment_read: Can read payment details.
            payment_write: Can change payment details.
            purchase_read: Can read purchase details.
            purchase_write: Can change purchase details.
            refueling_read: Can read refueling details.
            refueling_write: Can change refueling details.
            resource_set_read: Can read resource set details.
            resource_set_write: Can change resource set details.
            role_read: Can read role details.
            statement_read: Can read statement details.
            subscription_read: Can read subscription details.
            subscription_write: Can change subscription details.
            tag_read: Can read tags.
            tag_write: can change tags.
            tax_rate_read: Can read vat rate details.
            tax_rate_write: Can change vat rate details.
            transaction_read: Can read transaction details.
            transaction_write: Can change transaction details.
            vehicle_read: Can read vehicle details.
            vehicle_write: Can change vehicle details.
            wallet_read: Can read wallet details.
            wallet_write: Can change wallet details.
            webhook_subscription_read: Can read webhook subscription details.
            webhook_subscription_write: Can change webhook subscription details.
x-readme:
  hidden: false
