openapi: 3.1.0
info:
  title: Soldo Business API v2.0 Accounting Classification Orders API
  description: Soldo Business API v2.0 OpenAPI specification
  version: 5.56.0
servers:
- url: https://api.soldo.com
  description: Production server (using live data)
- url: https://api-demo.soldocloud.net
  description: Sandbox server (using test data)
tags:
- name: Orders
paths:
  /business/v2/orders/{orderId}:
    get:
      tags:
      - Orders
      summary: Get Order
      description: Endpoint to retrieve a specific `Order`.
      operationId: order-get
      parameters:
      - name: orderId
        in: path
        required: true
        schema:
          type: string
          description: The `Order` ID.
          example: 7bf79328-a7ae-4222-aa54-091ff7f429a7
      responses:
        '200':
          description: The returned resource is a single `Order`.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Order'
        '400':
          description: Your request has missing arguments or is malformed.
      security:
      - standardAuth:
        - order_read
    delete:
      tags:
      - Orders
      summary: Delete Order
      description: Endpoint to delete a specific `Order`. Only resource in ERROR or PLACED status can be deleted.
      operationId: order-delete
      parameters:
      - name: orderId
        in: path
        required: true
        schema:
          type: string
          description: The `Order` ID.
          example: 7bf79328-a7ae-4222-aa54-091ff7f429a7
      responses:
        '204':
          description: No content as result.
        '400':
          description: Your request has missing arguments or is malformed.
      security:
      - standardAuth:
        - company_write
  /business/v2/orders:
    get:
      tags:
      - Orders
      summary: Search Orders
      description: Endpoint to retrieve your `Orders`.
      operationId: order-search
      parameters:
      - name: id
        in: query
        description: The `Order` ID.
        schema:
          type: string
          description: The `Order` ID.
          example: 7bf79328-a7ae-4222-aa54-091ff7f429a7
        example: 7bf79328-a7ae-4222-aa54-091ff7f429a7
      - name: status
        in: query
        description: The status of the `Order`.
        schema:
          $ref: '#/components/schemas/OrderStatus'
        example: PENDING
      - name: fromDate
        in: query
        description: 'The beginning of the period of the search `fromDate` included (i.e. greater than or equal to) (Formats: `yyyy-MM-dd`, `yyyy-MM-ddThh:mm:ss`, `yyyy-MM-ddThh:mm:ssZ`).'
        schema:
          $ref: '#/components/schemas/DateParam'
        example: '2020-04-06T12:48:40Z'
      - name: toDate
        in: query
        description: 'The end of the period of the search `toDate` included (i.e. less than) (Formats: `yyyy-MM-dd`, `yyyy-MM-ddThh:mm:ss`, `yyyy-MM-ddThh:mm:ssZ`).'
        schema:
          $ref: '#/components/schemas/DateParam'
        example: '2020-05-07T12:48:40Z'
      - name: p
        in: query
        description: It indicates the specific page to display (the counter starts from zero).
        schema:
          type: integer
          format: int32
          default: 0
          description: It indicates the specific page to display (the counter starts from zero).
          example: 3
        example: 3
      - name: s
        in: query
        description: It indicates the number of items per page.
        schema:
          type: integer
          format: int32
          default: 0
          description: It indicates the number of items per page.
          example: 25
          maximum: 50
        example: 25
      - name: d
        in: query
        description: It indicates how the pages are ordered.
        schema:
          $ref: '#/components/schemas/Direction'
        example: DESC
      - name: props
        in: query
        description: It indicates the sorting direction applied to the above parameters. To apply a sorting on multiple parameters, set as many times the `props` parameter in the request.
        schema:
          type: array
          description: It indicates the sorting direction applied to the above parameters. To apply a sorting on multiple parameters, set as many times the `props` parameter in the request.
          example: creationTime
          items:
            type: string
            description: It indicates the sorting direction applied to the above parameters. To apply a sorting on multiple parameters, set as many times the `props` parameter in the request.
            example: creationTime
        example: creationTime
      responses:
        '200':
          description: The result is an array containing `Orders`.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Orders'
        '400':
          description: Your request has missing arguments or is malformed.
      security:
      - standardAuth:
        - company_read
components:
  schemas:
    DateParam:
      description: 'The end of the period of the search `toDate` included (i.e. less than) (Formats: `yyyy-MM-dd`, `yyyy-MM-ddThh:mm:ss`, `yyyy-MM-ddThh:mm:ssZ`).'
      example: '1970-01-30'
    OrderItem:
      properties:
        id:
          type: string
          description: The ID of a single item of a specific `Order`.
          example: 7bf79328-a7ae-4222-aa54-091ff7f429a7
        item_type:
          type: string
          description: The type of the ordered item.
          example: CARD
        category:
          type: string
          description: The category of the ordered item.
    Direction:
      type: string
      description: It indicates how the pages are ordered.
      enum:
      - ASC
      - DESC
      example: DESC
    Order:
      properties:
        id:
          type: string
          description: The `Order` ID.
          example: 7bf79328-a7ae-4222-aa54-091ff7f429a7
        status:
          $ref: '#/components/schemas/OrderStatus'
          description: The status of the `Order`.
          example: PENDING
        creation_time:
          type: string
          description: The date and time when the `Order` was created.
          example: '2017-06-01T12:48:40Z'
        last_update_time:
          type: string
          description: The last update date of the `Order`.
          example: '2017-06-01T12:48:40Z'
        error_code:
          type: string
          description: In case is_valid is false, the error code of the `Order` is shown.
        total_paid_amount:
          type: number
          description: The total amount of the `Order`.
          example: 10.25
        total_paid_currency:
          $ref: '#/components/schemas/ISO4217Currency'
          description: The currency for the total paid amount.
          example: EUR
        items:
          type: array
          description: The products associated with the `Order`.
          items:
            $ref: '#/components/schemas/OrderItem'
        is_valid:
          type: boolean
          description: It states whether the `Order` is valid.
          example: true
    ISO4217Currency:
      type: string
      enum:
      - AED
      - AFN
      - ALL
      - AMD
      - ANG
      - AOA
      - ARS
      - AUD
      - AWG
      - AZN
      - BAM
      - BBD
      - BDT
      - BGN
      - BHD
      - BIF
      - BMD
      - BND
      - BOB
      - BOV
      - BRL
      - BSD
      - BTN
      - BWP
      - BYN
      - BZD
      - CAD
      - CDF
      - CHE
      - CHF
      - CHW
      - CLF
      - CLP
      - CNY
      - COP
      - COU
      - CRC
      - CUC
      - CUP
      - CVE
      - CZK
      - DJF
      - DKK
      - DOP
      - DZD
      - EGP
      - ERN
      - ETB
      - EUR
      - FJD
      - FKP
      - GBP
      - GEL
      - GHS
      - GIP
      - GMD
      - GNF
      - GTQ
      - GYD
      - HKD
      - HNL
      - HRK
      - HTG
      - HUF
      - IDR
      - ILS
      - INR
      - IQD
      - IRR
      - ISK
      - JMD
      - JOD
      - JPY
      - KES
      - KGS
      - KHR
      - KMF
      - KPW
      - KRW
      - KWD
      - KYD
      - KZT
      - LAK
      - LBP
      - LKR
      - LRD
      - LSL
      - LYD
      - MAD
      - MDL
      - MGA
      - MKD
      - MMK
      - MNT
      - MOP
      - MRO
      - MRU
      - MUR
      - MVR
      - MWK
      - MXN
      - MXV
      - MYR
      - MZN
      - NAD
      - NGN
      - NIO
      - NOK
      - NPR
      - NZD
      - OMR
      - PAB
      - PEN
      - PGK
      - PHP
      - PKR
      - PLN
      - PYG
      - QAR
      - RON
      - RSD
      - RUB
      - RWF
      - SAR
      - SBD
      - SCR
      - SDG
      - SEK
      - SGD
      - SHP
      - SLE
      - SLL
      - SOS
      - SRD
      - SSP
      - STD
      - STN
      - SVC
      - SYP
      - SZL
      - THB
      - TJS
      - TMT
      - TND
      - TOP
      - TRY
      - TTD
      - TWD
      - TZS
      - UAH
      - UGX
      - USD
      - USN
      - UYI
      - UYU
      - UYW
      - UZS
      - VED
      - VEF
      - VES
      - VND
      - VUV
      - WST
      - XAF
      - XAG
      - XAU
      - XBA
      - XBB
      - XBC
      - XBD
      - XCD
      - XDR
      - XOF
      - XPD
      - XPF
      - XPT
      - XSU
      - XTS
      - XUA
      - XXX
      - YER
      - ZAR
      - ZMW
      - ZWL
    OrderStatus:
      type: string
      enum:
      - PENDING
      - ERROR
      - PLACED
      - CANCELLED
      - COMPLETED
      - COMPLETED_WITH_CREDIT
    Orders:
      properties:
        total:
          type: integer
          format: int32
          description: It represents the total number of available items in the list.
          example: 168
        pages:
          type: integer
          format: int32
          description: It represents the total number of available pages.
          example: 7
        page_size:
          type: integer
          format: int32
          description: It represents the number of items per page.
          example: 25
        current_page:
          type: integer
          format: int32
          description: It indicates the current page (the counter starts from zero).
          example: 0
        results_size:
          type: integer
          format: int32
          description: It indicates the size of the array results.
          example: 25
        results:
          type: array
          items:
            $ref: '#/components/schemas/Order'
  securitySchemes:
    standardAuth:
      type: oauth2
      description: This API uses OAuth 2 with the "Client Credentials" grant flow.
      flows:
        clientCredentials:
          tokenUrl: https://api.soldo.com/oauth/authorize
          refreshUrl: https://api.soldo.com/oauth/refresh
          scopes:
            address_read: Can read address details.
            address_write: Can update address details.
            card_read: Can read card details.
            card_write: Can change card details.
            company_read: Can read company details.
            company_write: Can change company details.
            contact_read: Can read contact details.
            contact_write: Can change contact details.
            employee_read: Can read employee details.
            employee_write: Can change employee details.
            expense_category_read: Can read expense category details.
            expense_category_write: Can change expense category details.
            expense_report_read: Can read expense report details.
            expense_report_write: Can change expense report details.
            expense_review_read: Can read expense review status.
            expense_review_write: Can change expense review status.
            group_read: Can read group details.
            group_write: Can change groups details.
            online_ads_read: Can read online ads details.
            online_ads_write: Can change online ads details.
            payment_read: Can read payment details.
            payment_write: Can change payment details.
            purchase_read: Can read purchase details.
            purchase_write: Can change purchase details.
            refueling_read: Can read refueling details.
            refueling_write: Can change refueling details.
            resource_set_read: Can read resource set details.
            resource_set_write: Can change resource set details.
            role_read: Can read role details.
            statement_read: Can read statement details.
            subscription_read: Can read subscription details.
            subscription_write: Can change subscription details.
            tag_read: Can read tags.
            tag_write: can change tags.
            tax_rate_read: Can read vat rate details.
            tax_rate_write: Can change vat rate details.
            transaction_read: Can read transaction details.
            transaction_write: Can change transaction details.
            vehicle_read: Can read vehicle details.
            vehicle_write: Can change vehicle details.
            wallet_read: Can read wallet details.
            wallet_write: Can change wallet details.
            webhook_subscription_read: Can read webhook subscription details.
            webhook_subscription_write: Can change webhook subscription details.
x-readme:
  hidden: false
